.top-menu {
  max-height: 7rem;

  &__container {
    height: 100%;
    max-width: 114rem;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__logo {
    font-family: Quicksand-Bold;
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    &:not(:first-of-type) {
      margin-left: 3rem;
    }
  }

  &__link {
    font-family: Montserrat-Medium;
    font-size: 1.8rem;
    color: $color-grey-3;
    text-decoration: none;
  }
}
