@font-face {
  font-family: 'Montserrat-Thin';
  src: url('./fonts/Montserrat-Thin.woff2') format('woff2'),
    url('./fonts/Montserrat-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBoldItalic';
  src: url('./fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-LightItalic';
  src: url('./fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('./fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('./fonts/Montserrat-ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('./fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('./fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('./fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url('./fonts/Montserrat-Italic.woff2') format('woff2'),
    url('./fonts/Montserrat-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./fonts/Montserrat-Bold.woff2') format('woff2'),
    url('./fonts/Montserrat-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ThinItalic';
  src: url('./fonts/Montserrat-ThinItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-ThinItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('./fonts/Montserrat-MediumItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
    url('./fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-BlackItalic';
  src: url('./fonts/Montserrat-BlackItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-BlackItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('./fonts/Montserrat-Medium.woff2') format('woff2'),
    url('./fonts/Montserrat-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('./fonts/Montserrat-Black.woff2') format('woff2'),
    url('./fonts/Montserrat-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBoldItalic';
  src: url('./fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraLightItalic';
  src: url('./fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-ExtraLightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('./fonts/Montserrat-Light.woff2') format('woff2'),
    url('./fonts/Montserrat-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-BoldItalic';
  src: url('./fonts/Montserrat-BoldItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
